@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&family=Poppins:ital,wght@0,300;0,400;0,700;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,900;1,8..144,400;1,8..144,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #fd4a2b;
}
section{
    width: 100%;
    position: relative;
}
.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 6vw;
    background: #fd4a2b;
    z-index: 1000;
}
.logo{
    font-size: 3vw;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.menuitems{
    display: flex;
    margin: auto 0px;
}
.menuitems li{
    list-style: none;
    margin: 0 1.5vw;
}
.menuitems li a{
    display: block;
    color: #fff;
    font-size: 1.5vw;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.menuitems li:hover a{
    color: #000;
}
.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text_container{
    width: 50%;
    padding-left: 5rem;
    padding-top: 5rem;
}
.text_container h2{
    font-size: 10vw;
    font-weight: 900;
    line-height: 10vw;
    text-transform: capitalize;
}
.text_container h2::first-line{
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 30px 35px rgba(0, 0, 0, 0.5); /*Isso dá sombra apenas nas letras*/
}
.text_container h5{
    color: #fff;
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    margin-right: 10vw;
    text-transform: capitalize;
    text-shadow: 0 30px 35px rgba(0, 0, 0, 0.5); /*Isso dá sombra apenas nas letras*/
}
.text_container p{
    font-size: 1vw;
    font-weight: 400;
    color: #f2f2f2;
    margin-top: 30px ;
}
.text_container .btn{
     display: inline-block;
     color: #222;
     background: #f2f2f2;
     margin-top: 2vw;
     font-size: 1.5vw;
     text-decoration: none;
     text-transform: capitalize;
     letter-spacing: 2px;
     padding: 6px 15px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
     transition: 0.3s ease;
}
.text_container .btn:hover{
    letter-spacing: 3px;
    padding: 8px 20px;
}
.image_conatiner{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imgbox{
    position: relative;
    min-width: 40vh;
    margin-right: 10vw;
    z-index: 1;
}
.imgbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.icons{
    position: fixed;
    top: 50%;
    left: 96%;
    transform: translateY(-50%);
    z-index: 1000;
}
.icons ion-icon{
    /*width: 20vw;*/
    padding: 1vw;
    font-size: 2.5vw;
    cursor: pointer;
    transition: 0.5s ease;
    background: #fff;
    border-radius: 50px;
} 
.icons ion-icon:hover{
    color: #fd4a2b;
    transform: translatex(-10px);
}
.icons ion-icon span{
    position: relative;
    font-size: 1.8vw;
    bottom: 1.8vw;
    margin-left: 1.8vw;
}
/*Animação blob sem SVG*/
.animblob{
    position: absolute;
    top: 50%;
    left: 40%;
    height: 40vw;
    width: 40vw;
    transform: translate(-50%, -50%);
    background: #fff;
    animation: animate_blob 8s linear infinite;
}
@keyframes animate_blob{
    0%,100%{
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40%;
    }
    25%{
        border-radius: 55% 45% 30% 35% / 50% 30% 60% 10%;
    }
    50%{
        border-radius: 65% 35% 35% 65% / 40% 60% 30% 70%;
    }
    25%{
        border-radius: 35% 65% 60% 45% / 70% 30% 40% 60%;
    }
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.navbar label{
    display: none;
}
/*Toda responsividade*/
@media screen and (max-width: 900px){
    body{
        overflow: auto;
    }
    .logo{
        font-size: 5vw;
    }
    .navbar label{
        display: block;
        color: #0e0d0d;
        font-size: 4vw;
        padding: 1vw 1.5vw;
        background: #fff;
        z-index: 1000;
        cursor: pointer;
        border-radius: 20%;
    }
    .menuitems{
        position: fixed;
        top: 0;
        right: -40vw;
        width: 40vw;
        height: 100%;
        background: #fff;
        padding-top: 15vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease;
    }
    .menuitems li a{
        color: #fd4a2b;
        font-size: 4vw;
        margin: 0.5vw;
    }
    #check:checked ~ section .navbar .menuitems{
        right: 0;
    }
    .container{
        flex-wrap: wrap;
    }
    .text_container{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100;
    }
    .text_container h2{
        font-size: 18vw;
        line-height: 18vw;
    }
    .text_container h5{
        font-size: 5vw;
    }
    .text_container p{
        font-size: 3vw;
    }
    text_container .btn{
        margin-top: 2vw;
        font-size: 2.5vw;
    }
    .image_conatiner{
        width: 100%;
        height: 50rem;
        margin-top: -100px;
        overflow: hidden;
    }
    .imgbox{
        height: 800px;
        margin: 0;
    }
    .icons{
        position: fixed;
        left: 95%;
        z-index: 100;
        width: 20%;
    }
    .icons ion-icon{
        padding: 1.7vw;
        right: 500px;
    }
    /* Customizar scrollbar*/
    ::-webkit-scrollbar{
        width: 12px;
    }
    ::-webkit-scrollbar-track{
        background: #000;
    }
    ::-webkit-scrollbar-thumb{
        background: #fff;
        border-radius: 50px;
    }
}